<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{title}}</title>
    <meta http-equiv="refresh" content="5" />
  </head>
  <style>
  html, body {
    width: 100%;
    height: 100vh;
    position: relative;
  }

  * {
    box-sizing: border-box;
  }

   td, th, caption {
       text-align: left !important;
   }
  </style>
  <body>
    <h1>{{title}} Reloading (last checked: <small>{{updated_on}}</small>)</h1>
    <code><pre>
    {{data}}
    </pre></code>
  </body>
</html>
